<!-- views/settings/index.ejs -->

<div class=" text-blue-900 mb-1">
  <h1 class="font-bold">Settings</h1>
</div>
<div>
  <p>In the future, this page will allow a user to add other admin users and modify other settings.</p>
</div>