<% if (locals.errorMessage != null) { %>
  <div class="error">
    <%= errorMessage %>
  </div>
<% } %>
<% if (messages.error) { %>
  <div class="error">
    <% messages.error %>
  </div>
<% } %>
<!-- <div class="bg-red-600 text-white mt-2 px-2 py-1 rounded-lg"></div> -->