<!-- views/layouts/main.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/globals.css"> <!-- Include your main stylesheet and import Tailwind CSS -->
    <link rel="stylesheet" href="/css/tailwind.css"> <!-- Tailwind CSS Styles -->
    <title>Computer Parts Store Test</title>
    <!-- Filepond CSS -->
    <!-- <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" /> -->
    <!-- Filepond Plugins -->
    <!-- <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script> -->
    <!-- Filepond JS -->
    <!-- <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/public/javascript/fileUpload.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="bg-blue-900 min-h-screen w-screen flex">
            <%- include('../partials/_nav') %>
            <div class="bg-white flex-grow mt-2 mr-2 mb-2 rounded-lg p-4">
                <%- include('../partials/_errorMessage') %>
                <%- body %>
            </div>
        </div>
    </div>
</body>
</html>
