<!-- views/index.ejs -->

<h1 class="text-3xl font-bold ">Welcome to the Computer Parts Store!</h1>
<div id="app">
  <!-- Dynamic content will be inserted here -->
</div>

<script src="/main.js"></script>
