<!-- views/login.ejs -->
<h3 class="text-4xl font-bold">Computer Parts Store</h3>
<div class="section">
  <p class="lead text-lg p-2 px-4">Your one stop shop for computer parts.</p>
</div>
<div class="divider"></div>
<div class="section p-2 px-4 ">
  <a href="auth/google" class="btn bg-gray-300 p-2 px-4 rounded-lg shadow-sm">
    Login with Google
  </a>
</div>