<!-- views/orders/index.ejs -->

<div class=" text-blue-900 mb-1">
  <h1 class="font-bold">Orders</h1>
</div>
<div>
  <p>In the future, this page will show all orders placed on the store and their status.</p>
</div>