<!-- views/products/index.ejs -->
<div class=" text-blue-900 mb-1">
  <h1 class="font-bold">Categories</h1>
</div>
<div class="mb-2">
  <a href="/categories/new" class="btn-primary">Add new category</a>
</div>
<!-- Display all categories -->