<!-- views/products/new.ejs -->

<div>
  <h1 class="font-bold">New Product</h1>
  <div class="flex-col">
    <form action="/products" method="POST" >
      <%- include('./_form_fields') %>
      <div class="flex-row">
        <a href="/products" class="btn-secondary">Cancel</a>
      <button type="submit" class="btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>




